.header-menu {
  display: flex;
  font-size: 16px;
  font-weight: 600;
  align-items: center; 
  color: #182873;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  height: 100%;
}

.header-menu > li {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin: 0 21px;
  height: 100%;
}

.header-menu > li > a {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.56;
  letter-spacing: normal;
  color: #182873;
  text-decoration: none;
  cursor: pointer;
}

.header-menu--active {
  border-bottom: 1px solid #207bff;
}

.header-arrow-up {
  width: 6px;
  height: 6px;
  margin: 0 0 4px 14px;
  display: inline-block;
  border: solid #182873;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.header-menu-sub {
  position: absolute;
  top: 75px;
  left: -20px;
  width: 160px;
  list-style: none;
  padding: 6px 20px 20px;
  margin: 0;
  text-align: left;
  border-radius: 3px;
  box-shadow: 0 20px 20px 0 rgba(125, 163, 222, 0.15);
  border: solid 1px #ddeaff;
  background-color: #ffffff; 
  transform-origin: 0 0;
  transform: scaleY(0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.header-menu-sub > li {
  height: 26px;
  font-size: 16px;
  line-height: 1.63;
  margin-top: 12px; 
}

.header-menu-sub > li > a {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  color: #182873;
  text-decoration: none;
  cursor: pointer;
}

.header-menu-sub > li > a:hover  {
  color: #0069ff;
}

.header-menu > li:hover ul {
  transform: none;
}

@media (max-width: 1319px) { 
  .header-menu {
    position: absolute;
    top: -35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    color: #182873;
    box-shadow: 0 0 10px #85888C;
    padding: 80px 0 40px;
    background-color: #F5F6FA;transform-origin: 100% 0%;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    list-style: none;
    margin: 0;
    text-align: left;
    height: auto;
  }

  .header-menu > li {
    position: relative;
    display: flex;
    align-items: center;
    margin: 20px 21px;
    height: auto;
  }

  .header-menu--active {
    border-bottom: none;
  }

  .header-arrow-up {
    width: 6px;
    height: 6px;
    margin: 0 0 4px 14px;
    display: inline-block;
    border: solid #182873;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  .header-menu-sub {
    position: absolute;
    top: 0px;
    
    list-style: none;
    padding: 6px 20px 20px;
    margin: 0;
    text-align: left;
    border-radius: 3px;
    box-shadow: 0 20px 20px 0 rgba(125, 163, 222, 0.15);
    border: solid 1px #ddeaff;
    background-color: #F5F6FA;
    transform-origin: 0 0;
    transform: scaleY(0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }

  .header-menu-sub > li {
    height: 26px;
    font-size: 16px;
    line-height: 1.63;
    margin-top: 12px; 
  }

  .header-menu-sub > li > a {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.63;
    letter-spacing: normal;
    color: #182873;
    text-decoration: none;
    cursor: pointer;
  }

  .header-menu-sub > li > a:hover  {
    color: #0069ff;
  }

  .header-menu > ul > li:hover ul {
    transform: none;
  }
}

@media (max-width: 1319px) and (min-width: 768px) { 
  .header-menu {
    width: 33vw;
    left: calc(-33vw + (100vw - 688px)/2 + 30px);
  }

  .header-menu-sub {
    left: calc(-33vw - 65px);
    width: 33vw;
  }
}

@media (max-width: 767px) { 
  .header-menu {
    width: 50vw;
    left: calc(-50vw + (100vw - 335px)/2 + 30px);
  }

  .header-menu-sub {
    left: calc(-33vw - 65px);
    width: 33vw;
  }
}