.advantages {
  width: 1320px;
  margin: 60px auto 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.advantages-block {
  width: 350px;
  text-align: center;
}

.advantages-block-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.3;
  text-align: center;
  color: #182873;
}

.advantages-block-val {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
  color: #182873;
}

.advantages-gap {
  display: none;
}

/*   Tablet Screen   */
@media (max-width: 1319px) and (min-width: 768px) {
  .advantages {
    width: 688px;
    margin: 50px auto 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages-block {
    width: 350px;
    text-align: center;
  }

  .advantages-block-text {
    font-size: 19px;
    font-weight: normal;
    line-height: 1.53;
    text-align: center;
    color: #182873;
  }

  .advantages-block-val {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    color: #182873;
  }
  .advantages-gap {
    display: block;
    width: 80px;
    height: 1px;
    margin: 25px auto;
    background-color: #c9dbf6;
  }
}

/*   Mobile Screen   */
@media (max-width: 767px) {
  .advantages {
    width: 335px;
    margin: 50px auto 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .advantages-block {
    width: 335px;
    text-align: center;
  }

  .advantages-block-text {
    font-size: 19px;
    font-weight: normal;
    line-height: 1.53;
    text-align: center;
    color: #182873;
  }

  .advantages-block-val {
    font-size: 32px;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    color: #182873;
  }
  .advantages-gap {
    display: block;
    width: 80px;
    height: 1px;
    margin: 25px auto;
    background-color: #c9dbf6;
  }
}
